.header-container{
    padding: 50px 20px;
}
.header-icon{
    font-size: 2rem;
    margin-bottom: 40px;
}
.headerTitle-container{
    margin-bottom: 25px;
    font-family: 'Manrope', sans-serif;
    color: #191C1F;
}
.header-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.header-date{
    font-size: 1.5rem;
    margin-left: 10px;
}
.header-text{
    font-size: 1.5rem;
    font-weight: 600;
    opacity: .9;
}